header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #fefefe;
    justify-content: space-evenly;
    height: 66.5px;
    align-items: center;
    border-bottom: 3px solid #fa883a;
}
header .brand {
    width: 15%;
}

header .brand .logo {
    width: 120px;
    position: absolute;
    left: 4.7%;
    bottom: 15px;
}

.nav-menu {
    position: absolute;
    left: 20%;
    bottom: 2px;
    display: flex;
    width: 31%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.05em;
    font-weight: 800;
}

.nav-link {
    padding: 10px 30px;
    color: #8d7575;
    
}

.nav-link:active {
    color: #eaeaea;
    background-color: #0da472;
}

.nav-link:hover {
    border: 1px solid rgb(125, 102, 102);
}
